<html>
<head>
<body>
<img src="Fruit_Pineapples_436085.jpg" usemap="#image-map">
<map name="image-map">
<area target="" alt="apple" title="apple" href="apple.html" coords="757,706,813,745" shape="rect">
<area target="" alt="banana" title="banana" href="banana.html" coords="489,724,51" shape="circle">
<area target="" alt="orange" title="orange" href="orange.html" coords="141,656,216,714" shape="rect">
<area target="" alt="pineapple" title="pineapple" href="pineapple.html" coords="307,522,53" shape="circle">
<area target="" alt="watermelon" title="watermelon" href="watermelon.html" coords="868,415,993,488" shape="rect">
</map>
</body>
</head>
</html>